* {
  padding: 0;
  margin: 0;
}

body {
  background: black;
  overflow: hidden;
}

.room {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: -5;
}

.status-bar-frame {
  position: absolute;
  top: 3vh;
  width: 11%;
  height: 2.3%;
  border: 0.2vw solid grey;
  border-radius: 2px;
  left: 86vw;
  overflow: hidden;
}

.status-bar-frame.exhaustion {
  top: 3.15%;
}

.status-bar-frame.health {
  top: 7.15%;
}

.status-bar {
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#000)) no-repeat;
  background: linear-gradient(#000, #000) no-repeat;
}

.status-label {
  position: absolute;
  mix-blend-mode: difference;
}

.artwork {
  position: absolute;
  left: 0;
  text-align: left;
  top: 40%;
  left: 5%;
}

.mentor-tip {
  position: absolute;
  height: 4vh;
  width: 22%;
  top: 4%;
  left: 33%;
  background: white;
  overflow: hidden;
}

.clock {
  position: absolute;
  top: 3%;
  left: 13%;
  width: 7%;
  height: 5%;
  border: 3px solid white;
  font-size: 3vh;
  background: black;
  color: white;
  border-radius: 3px;
}

.clock p {
  position: absolute;
  top: 10%;
  left: 10%;
}

.cat {
  position: absolute;
}

.cat-image {
  width: 10vh;
  height: 10vh;
}

.drop-down {
  position: absolute;
  top: -40px;
}

.artwork {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.bed {
  position: absolute;
  top: 69%;
  left: 85%;
  -webkit-transform: rotateY(180deg) rotate(-6deg) scale(4);
          transform: rotateY(180deg) rotate(-6deg) scale(4);
  opacity: 0.1;
}

.bed:hover {
  opacity: 0.5;
}

.bed:hover svg {
  -webkit-filter: url(#shadow);
          filter: url(#shadow);
}

.lunar-lander {
  position: relative;
  width: 50vw;
  height: 50vh;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.1, 0.1);
          transform: translate(-50%, -50%) scale(0.1, 0.1);
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}

.gaming-station {
  background-color: black;
  position: absolute;
  left: 42%;
  right: 46%;
  top: 46%;
  bottom: 46%;
  opacity: 0.4;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: top 0.7s, right 0.7s, bottom 0.7s, left 0.7s, opacity 0.7s;
  transition: top 0.7s, right 0.7s, bottom 0.7s, left 0.7s, opacity 0.7s;
}

.gaming-station:hover {
  border: 2px solid rgba(255, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 10px red;
          box-shadow: 0 0 10px red;
}

.gaming-station.fullscreen {
  top: 80px;
  left: 30px;
  bottom: 30px;
  right: 30px;
  width: auto;
  height: auto;
  opacity: 1;
  z-index: 20;
}

.gaming-station.fullscreen:hover {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.gaming-station.fullscreen .lunar-lander {
  -webkit-transform: translate(-50%, -50%) scale(1, 1);
          transform: translate(-50%, -50%) scale(1, 1);
}
/*# sourceMappingURL=index.css.map */