* {
  padding: 0;
  margin: 0;
  font-family: "Comic Sans MS";
}

body {
  background: black;
  overflow: hidden;
}

.room {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: -5;
}

.status-bar-frame {
  position: absolute;
  top: 3vh;
  width: 11%;
  height: 2.3%;
  border: 0.2vw solid grey;
  border-radius: 2px;
  left: 86vw;
  overflow: hidden;
}

.status-bar-frame.exhaustion {
  top: 3.15%;
}

.status-bar-frame.health {
  top: 7.15%;
}

.status-bar {
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#000)) no-repeat;
  background: linear-gradient(#000, #000) no-repeat;
}

.status-label {
  position: absolute;
  mix-blend-mode: difference;
}

.artwork {
  position: absolute;
  left: 0;
  text-align: left;
  top: 40%;
  left: 5%;
}

.mentor-tip {
  position: absolute;
  height: 4vh;
  width: 22%;
  top: 4%;
  left: 33%;
  background: white;
}

.mentor-tip img {
  height: 100px;
  left: -300px;
}

.mentor-tip p {
  position: absolute;
  top: 0;
  overflow: hidden;
}

.clock {
  position: absolute;
  top: 3%;
  left: 1%;
  width: 19%;
  height: 5%;
}

.clock .days {
  font-size: 4vh;
  text-align: left;
  color: white;
  width: 60%;
  background: darkblue;
  border-radius: 1vw;
}

.clock .time {
  color: white;
  border: 3px solid white;
  text-align: center;
  font-size: 3vh;
  background: black;
  border-radius: 0.6vw;
  position: absolute;
  top: 10%;
  right: 0%;
  width: 35%;
}

.cat {
  position: absolute;
}

.cat-image {
  width: 10vh;
  height: 10vh;
}

.drop-down {
  position: absolute;
  top: -40px;
}

.artwork {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.bed {
  position: absolute;
  top: 69%;
  left: 85%;
  -webkit-transform: rotateY(180deg) rotate(-6deg) scale(4);
          transform: rotateY(180deg) rotate(-6deg) scale(4);
}

.bed-shape {
  opacity: 0.1;
}

.bed-shape:hover {
  opacity: 0.5;
  -webkit-filter: url(#shadow);
          filter: url(#shadow);
}

.window {
  position: absolute;
  background: black;
  width: 13%;
  height: 16%;
  top: 33%;
  left: 68.5%;
}

.lunar-lander {
  position: relative;
  width: 50vw;
  height: 50vh;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.1, 0.1);
          transform: translate(-50%, -50%) scale(0.1, 0.1);
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}

.gaming-station {
  background-color: black;
  position: absolute;
  left: 41.9%;
  right: 46.7%;
  top: 45.8%;
  bottom: 46.3%;
  opacity: 0.4;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: top 0.7s, right 0.7s, bottom 0.7s, left 0.7s, opacity 0.7s;
  transition: top 0.7s, right 0.7s, bottom 0.7s, left 0.7s, opacity 0.7s;
}

.gaming-station:hover {
  border: 2px solid rgba(255, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 10px red;
          box-shadow: 0 0 10px red;
}

.gaming-station.fullscreen {
  top: 80px;
  left: 30px;
  bottom: 30px;
  right: 30px;
  width: auto;
  height: auto;
  opacity: 1;
  z-index: 20;
}

.gaming-station.fullscreen:hover {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.gaming-station.fullscreen .lunar-lander {
  -webkit-transform: translate(-50%, -50%) scale(1, 1);
          transform: translate(-50%, -50%) scale(1, 1);
}

.desk {
  position: absolute;
  top: 40%;
  left: -5%;
  width: 400px;
  height: 400px;
}

.desk-shape {
  opacity: 0.2;
}

.desk-shape:hover {
  opacity: 0.8;
  -webkit-filter: url(#shadow);
          filter: url(#shadow);
}

.coffee-maker {
  position: absolute;
  top: 45.5%;
  left: 51%;
  width: 13%;
  height: 9%;
}

.coffee-maker img {
  width: 100%;
  height: 100%;
}

.coffee-maker-path:hover {
  fill: red;
}

.player {
  position: absolute;
  top: 30%;
  left: 30%;
  font-size: 3em;
  color: red;
}
/*# sourceMappingURL=index.css.map */