@import url("https://fonts.googleapis.com/css?family=Patrick+Hand+SC|Stylish|Varela+Round|Walter+Turncoat|DM+Sans|Nanum+Gothic|Arimo&display=swap");
@font-face {
  font-family: Barmeno Medium;
  src: url("./components/fonts/Barmeno-medium.otf") format("opentype");
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Barmeno Medium', cursive;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html {
  background: black;
}

html, body, .root, .App {
  position: relative;
  display: block;
  width: 1919px;
  height: 1079px;
}

.App {
  overflow: hidden;
}

.night {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: black;
  z-index: 99;
  opacity: 0;
  pointer-events: none;
  color: white;
  font-size: 8em;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.night.hidden {
  display: none;
}

.night .new-day-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.night .new-day-wrapper span {
  position: relative;
  top: 50%;
  left: 55%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.night .new-day-label {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.night .new-day-count {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.night.night-fall {
  -webkit-animation-name: nightFall;
          animation-name: nightFall;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.night.night-end {
  -webkit-animation-name: nightEnd;
          animation-name: nightEnd;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.night.night-first {
  -webkit-animation-name: nightFirst;
          animation-name: nightFirst;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes nightFall {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes nightFall {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes nightEnd {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes nightEnd {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes nightFirst {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes nightFirst {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.root, .app {
  width: 100%;
  height: 100%;
}

.main, .room {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
}

.room {
  z-index: -5;
}

.Room > .moonlight {
  top: 791px;
  left: 1242px;
  -webkit-transform-origin: 0 -100px;
          transform-origin: 0 -100px;
}

.status-bar-frame {
  position: absolute;
  top: 3%;
  width: 11%;
  height: 2.3%;
  border: 3px solid grey;
  border-radius: 2px;
  left: 86%;
}

.status-bar-frame.exhaustion {
  top: 3.15%;
}

.status-bar-frame.health {
  top: 7.15%;
}

.status-bar {
  position: absolute;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 200% 100%;
}

.status-bar-greyed {
  position: absolute;
  height: 100%;
  width: 100%;
  background: grey;
  z-index: -1;
}

.status-label {
  position: absolute;
  color: white;
  font-size: 1.5em;
  right: 110%;
  text-transform: capitalize;
}

.artwork {
  position: absolute;
  left: 0;
  text-align: left;
  top: 40%;
  left: 5%;
  z-index: 10;
}

.mentor-tip {
  position: absolute;
  width: 37%;
  bottom: 4%;
  left: 33%;
}

.mentor-tip img {
  position: absolute;
  height: 70px;
  left: -85px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.mentor-tip .mentor-text {
  position: relative;
  background: white;
  border-radius: 5px;
  left: 5%;
  padding: 5px;
  color: black;
  overflow: hidden;
  font-size: 1.5em;
}

.mentor-tip .mentor-text:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-right-color: #ffffff;
  border-left: 0;
  margin-top: -20px;
  margin-left: -20px;
}

.end-screen .mentor-text {
  padding: 20px;
}

.clock {
  position: absolute;
  top: 2%;
  left: -1%;
  width: 438px;
  height: 5%;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.clock .days {
  position: relative;
  font-size: 67px;
  text-align: left;
  color: white;
  width: 200px;
  left: 20px;
  border-radius: 1%;
}

.clock .time {
  color: white;
  border: 3px solid white;
  text-align: center;
  font-size: 50px;
  background: black;
  border-radius: 10px;
  position: absolute;
  top: 170%;
  left: 10px;
  width: 180px;
}

.cat {
  position: absolute;
  text-align: left;
  width: 6%;
  z-index: 10;
  -webkit-transition: -webkit-transform 1s linear;
  transition: -webkit-transform 1s linear;
  transition: transform 1s linear;
  transition: transform 1s linear, -webkit-transform 1s linear;
}

.cat-image {
  width: 150px;
  height: 150px;
  background-size: 150px 150px;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  -webkit-transition: opacity 1s, -webkit-transform 0s;
  transition: opacity 1s, -webkit-transform 0s;
  transition: transform 0s, opacity 1s;
  transition: transform 0s, opacity 1s, -webkit-transform 0s;
  -webkit-transform-origin: 50px 50px;
          transform-origin: 50px 50px;
  background-repeat: no-repeat;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes halluciCat {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  29% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 1;
  }
  40% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  95% {
    -webkit-transform: scale(9);
            transform: scale(9);
    opacity: 0.9;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes halluciCat {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  29% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 1;
  }
  40% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  95% {
    -webkit-transform: scale(9);
            transform: scale(9);
    opacity: 0.9;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.drop-down {
  position: absolute;
  top: -40px;
  left: 90px;
  z-index: 10;
}

.button-drop-down {
  width: 100%;
  border-radius: 5px;
  padding: 3px;
  margin: 2px;
}

.button-drop-down:hover {
  -webkit-filter: drop-shadow(0 0 5px black);
          filter: drop-shadow(0 0 5px black);
}

.artwork {
  top: 0;
  pointer-events: none;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.bed {
  position: absolute;
  top: 48%;
  width: 37%;
  right: -6.9%;
  height: 83%;
}

.bed .moonlight {
  top: 110px;
  left: -103px;
  height: 200px;
  -webkit-transform-origin: 0 -40px;
          transform-origin: 0 -40px;
}

.pattern {
  position: absolute;
  mask-mode: luminance;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  pointer-events: none;
}

.pattern.pattern-bed-top {
  -webkit-mask-size: 366px;
          mask-size: 366px;
  -webkit-mask-position: 145px 51px;
          mask-position: 145px 51px;
}

.pattern.pattern-bed-side {
  -webkit-mask-size: 275px;
          mask-size: 275px;
  -webkit-mask-position: 145px 112px;
          mask-position: 145px 112px;
}

.pattern .moonlight-bed-side {
  top: -146px;
  width: 408px;
  height: 217px;
}

.pattern.pattern-room {
  -webkit-mask-size: 1920px;
          mask-size: 1920px;
  -webkit-mask-position: 0 0;
          mask-position: 0 0;
}

.pattern .moonlight-room {
  top: 726px;
  left: 1241px;
  width: 193px;
  height: 162px;
  -webkit-transform-origin: 0 -135px;
          transform-origin: 0 -135px;
}

.pattern.pattern-window {
  -webkit-mask-size: 1920px;
          mask-size: 1920px;
  -webkit-mask-position: 0 0;
          mask-position: 0 0;
}

.pattern.pattern-game {
  -webkit-mask-size: 479px;
          mask-size: 479px;
  -webkit-mask-position: 0 0;
          mask-position: 0 0;
}

.pattern .moonlight-game {
  -webkit-transform-origin: 300px -100px;
          transform-origin: 300px -100px;
}

.bed-path:hover {
  -webkit-filter: drop-shadow(-30px 10px 4px #FF8311);
          filter: drop-shadow(-30px 10px 4px #FF8311);
}

.bed-lower {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 60;
}

.window {
  position: absolute;
  top: 30.4%;
  left: 63.2%;
  width: 13.4%;
  height: 20.7%;
  z-index: -1;
  overflow: hidden;
}

.window .sky {
  position: absolute;
  background: black;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
}

.window .moonlight {
  height: 11px;
  top: 95%;
  left: 31px;
}

.moonlight {
  position: absolute;
  width: 203px;
  height: 200%;
  background: white;
  opacity: 0.2;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  mix-blend-mode: difference;
  overflow: hidden;
  z-index: 10;
}

.pattern {
  position: absolute;
  width: 100%;
  height: 100%;
}

.pong, .lunar-lander, .snake {
  position: relative;
  width: 50%;
  height: 50%;
  left: 50%;
  top: 35%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.gaming-station {
  position: absolute;
  width: 25%;
  height: 26%;
  left: 38%;
  top: 45.8%;
}

.gaming-station .moonlight {
  top: 150px;
  left: 508px;
}

.screen {
  position: absolute;
  top: 6%;
  left: 16.9%;
  width: 43.2%;
  height: 36.4%;
  opacity: 0.4;
  background-color: black;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: top 0.7s, width 0.7s, height 0.7s, left 0.7s, opacity 0.7s;
  transition: top 0.7s, width 0.7s, height 0.7s, left 0.7s, opacity 0.7s;
}

.screen:hover {
  border: 4px solid rgba(255, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 10px red;
          box-shadow: 0 0 10px red;
}

.screen .game-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}

.screen .button-game-select {
  display: table-cell;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  width: 20%;
  height: 42%;
  left: 0%;
  margin: 5%;
  top: 10%;
  background-size: 88%;
  background-position-x: 75%;
  background-repeat: no-repeat;
  color: white;
  vertical-align: bottom;
}

.screen .button-game-select.fullscreen {
  background-size: 100%;
}

.screen .button-game-select p {
  position: absolute;
  bottom: -190px;
  left: 50%;
  font-size: 4em;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.screen .game-select-text {
  width: 100%;
  height: 30%;
  font-size: 100%;
  color: white;
}

.screen.fullscreen {
  top: -350px;
  left: -570px;
  width: 1600px;
  height: 900px;
  opacity: 1;
  z-index: 20;
}

.screen.fullscreen .button-game-select:hover {
  -webkit-filter: drop-shadow(-30px 10px 4px #FF8311);
          filter: drop-shadow(-30px 10px 4px #FF8311);
}

.screen.fullscreen:hover {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.screen.fullscreen .lunar-lander, .screen.fullscreen .pong {
  position: absolute;
  -webkit-transform: translate(-50%, -50%) scale(1, 1);
          transform: translate(-50%, -50%) scale(1, 1);
}

.screen.fullscreen::after {
  content: "";
  position: absolute;
  top: 0;
  right: -50%;
  bottom: -50%;
  left: -50%;
  z-index: -1;
}

.button-game-back {
  position: absolute;
  height: 50px;
  left: 50px;
  top: 50px;
}

.button-game-back:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.desk {
  position: absolute;
  top: 36%;
  width: 21%;
}

.desk-shape {
  opacity: 0.2;
}

.desk-shape:hover {
  opacity: 0.8;
  -webkit-filter: url(#shadow);
          filter: url(#shadow);
}

.desk-path:hover {
  -webkit-filter: drop-shadow(-30px 10px 4px #FF8311);
          filter: drop-shadow(-30px 10px 4px #FF8311);
}

.lamplight {
  position: absolute;
  top: 14px;
  left: 131px;
  width: 293px;
  opacity: 1;
  pointer-events: none;
}

.coffee-maker {
  position: absolute;
  top: 47%;
  left: 52%;
  width: 10%;
}

.coffee-guy {
  position: absolute;
  width: 380px;
  height: 380px;
  top: 10%;
  left: 45%;
}

.coffee-path:hover {
  -webkit-filter: drop-shadow(-30px 10px 4px #FF8311);
          filter: drop-shadow(-30px 10px 4px #FF8311);
}

.player {
  position: absolute;
  background-repeat: no-repeat;
  font-size: 3em;
  color: red;
  pointer-events: none;
  z-index: 10;
}

.player.sleep.girl {
  top: 63px;
  left: 288px;
  height: 136px;
}

.player.sleep.boy {
  top: 77px;
  left: 275px;
  height: 130px;
}

.player.build.girl {
  height: 410px;
  top: 40px;
  right: 0;
}

.player.build.boy {
  height: 410px;
  top: 40px;
  right: 0;
}

.player.coffee.girl {
  height: 410px;
  top: -110px;
  right: -160px;
}

.player.coffee.boy {
  height: 410px;
  top: -110px;
  right: -160px;
}

.player.none.girl {
  height: 410px;
  top: -270px;
  left: 100px;
}

.player.none.boy {
  height: 410px;
  top: -270px;
  left: 100px;
}

.player.pet.girl {
  height: 300px;
  top: -177px;
  left: -129px;
}

.player.pet.boy {
  height: 300px;
  top: -177px;
  left: -129px;
}

.player.feed.girl {
  height: 300px;
  top: -110px;
  left: -180px;
}

.player.feed.boy {
  height: 300px;
  top: -110px;
  left: -180px;
}

.player.play.girl {
  height: 300px;
  top: -140px;
  left: -180px;
}

.player.play.boy {
  height: 300px;
  top: -140px;
  left: -180px;
}

.player.room {
  top: 480px !important;
  left: -400px !important;
}

.start p, .character-selection p {
  font-size: 10em;
  color: white;
}

.start-button {
  position: absolute;
  width: 300px;
  height: 100px;
  font-size: 3em;
  top: 60%;
  right: 43%;
  background: white;
  border: none;
}

.button-character-select {
  position: absolute;
  height: 500px;
  width: 300px;
  top: 20%;
}

.button-character-select:hover {
  -webkit-filter: drop-shadow(-10px 10px 4px #FF8311);
          filter: drop-shadow(-10px 10px 4px #FF8311);
}

.button-boy {
  left: 30%;
}

.button-girl {
  right: 30%;
}

.character-select-input {
  position: absolute;
  width: 100%;
  bottom: 250px;
}

.input-character-name {
  position: absolute;
  top: 72%;
  left: 32%;
  width: 450px;
  height: 50px;
  font-size: 2em;
  padding-left: 15px;
}

.button-character-start {
  position: absolute;
  top: 72%;
  left: 60%;
  width: 180px;
  height: 50px;
  font-size: 2em;
  background: white;
  border: none;
}

.button-intro {
  position: absolute;
  top: 76%;
  left: 65%;
  width: 100px;
  height: 50px;
  font-size: 2em;
  background: white;
  border: none;
}

.intro-text {
  position: absolute;
  font-size: 1.4em;
  color: black;
  height: 600px;
  width: 700px;
  top: 10%;
  right: 30%;
  text-align: left;
  padding: 40px;
  background: white;
  border-radius: 30px;
  line-height: 1.5;
}

.intro-mentor {
  position: absolute;
  width: 310px;
  height: 310px;
  right: 68%;
  top: 51%;
}

.bed-girl {
  position: absolute;
  width: 150px;
  height: 150px;
  right: 38%;
  top: 6%;
}

.desk-guy {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 10%;
  right: -41%;
}

.end-screen {
  background: #00132e;
  width: 100%;
  height: 100%;
}

.end-art {
  position: absolute;
  left: 55px;
  top: -500px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.award-wrapper {
  position: absolute;
  top: 408px;
  left: 280px;
  width: 507px;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

.trophy-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trophy {
  width: 200px;
  height: 200px;
  left: -40px;
  -webkit-transform: translate(0, -1000px);
          transform: translate(0, -1000px);
  -webkit-animation: trophySlideIn 0.7s ease-in-out forwards;
          animation: trophySlideIn 0.7s ease-in-out forwards;
}

.trophy-stand {
  position: absolute;
  top: 194px;
  left: 0;
  width: 100%;
}

.trophy-min {
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

.trophy-med {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.trophy-max {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.end-screen .player {
  position: absolute;
  width: 472px;
  height: 600px !important;
  top: 268px !important;
  left: 38% !important;
}

.end-screen .player.dead {
  top: 400px !important;
}

.end-screen .cat {
  -webkit-transform: scale(1.2) !important;
          transform: scale(1.2) !important;
  top: 690px;
  left: 1300px;
  opacity: 0;
  -webkit-animation: catFadeIn 1s forwards;
          animation: catFadeIn 1s forwards;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.end-screen .mentor-tip {
  width: 64%;
  left: 14%;
}

@-webkit-keyframes trophySlideIn {
  0% {
    -webkit-transform: translate(0, -1000px);
            transform: translate(0, -1000px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes trophySlideIn {
  0% {
    -webkit-transform: translate(0, -1000px);
            transform: translate(0, -1000px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes catFadeIn {
  0% {
    opacity: 1;
    -webkit-transform: translate(1200px, 600px) scale(0);
            transform: translate(1200px, 600px) scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(1200px, 600px) scale(1);
            transform: translate(1200px, 600px) scale(1);
  }
}

@keyframes catFadeIn {
  0% {
    opacity: 1;
    -webkit-transform: translate(1200px, 600px) scale(0);
            transform: translate(1200px, 600px) scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(1200px, 600px) scale(1);
            transform: translate(1200px, 600px) scale(1);
  }
}

.end-highscores {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  position: absolute;
  top: 300px;
  right: 350px;
  background: #aaa;
  width: 320px;
  padding: 10px;
  border-radius: 5px;
}

.end-highscores .highscores-title {
  text-align: left;
  font-size: 3em;
}

.end-highscores .highscores-table {
  font-size: 1.8em;
}

.end-highscores .highscore-gametitle {
  text-align: left;
  width: 170px;
}

.end-highscores .highscore-gamescore {
  text-align: right;
  width: 134px;
}
/*# sourceMappingURL=index.css.map */