/* .desk-path:hover {filter: drop-shadow(-30px 1px 4px #ff8311);} */
.game0 {  fill: #664d6a;}
.game1 {  fill: #674d6b;}
.game2 {  fill: #b46563;}
.game3 {  fill: #2b3b62;}
.game4 {  fill: #202c4c;}
.game5 {  fill: #a5666a;}
.game6 {  fill: #725772;}
.game7 {  fill: #ca7c89;}
.game8 {  fill: #3f4e70;}
.game9 {  fill: #071c3a;}
.game10 {  fill: #2c3b62;}
.game11 {  fill: #1e2c4d;}
.game12 {  fill: #cc7b5c;}
.game13 {  fill: #634e6c;}
.game14 {  fill: #524350;}
.game15 {  fill: #22213d;}
.game16 {  fill: #544553;}
.game17 {  fill: #794f61;}
.game18 {  fill: #3d3d5a;}
.game19 {  fill: #544c71;}
.game20 {  fill: #1c2b4c;}
.game21 {  fill: #333658;}
.game22 {  fill: #253757;}
.game23 {  fill: #6e4b60;}
.game24 {  fill: #60597b;}
.game25 {  fill: #6e7894;}
.game26 {  fill: #6a7591;}
.game27 {  fill: #717b96;}
.game28 {fill: #dca179;}

.desk0 {  display: none;}
.desk1 {  display: inline;  fill: #664d6b;}
.desk2 {  display: inline;  fill: #2b3b62;}
.desk3 {  display: inline;  fill: #212c4c;}
.desk4 {  display: inline;  fill: #a5666a;}
.desk5 {  display: inline;  fill: #674e6b;}
.desk6 {  display: inline;  fill: #b36664;}
.desk7 {  display: inline;  fill: #b36361;}
.desk8 {  display: inline;  fill: #634e6c;}
.desk9 {  display: inline;  fill: #705772;}
.desk10 {  display: inline;  fill: #c97c89;}
.desk11 {  display: inline;  fill: #3f4e70;}
.desk12 {  display: inline;  fill: #071c3a;}
.desk13 {  display: inline;  fill: #2c3c62;}
.desk14 {  display: inline;  fill: #1c2b4c;}
.desk15 {  display: inline;  fill: #cc7b5c;}
.desk16 {  display: inline;  fill: #524350;}
.desk17 {  display: inline;  fill: #22213d;}
.desk18 {  display: inline;  fill: #554653;}
.desk19 {  display: inline;  fill: #794f61;}
.desk20 {  display: inline;  fill: #243657;}
.desk21 {  display: inline;  fill: #3d3d5a;}
.desk22 {  display: inline;  fill: #544c71;}
.desk23 {  display: inline;  fill: #333658;}
.desk24 {  display: inline;  fill: #6e4b60;}
.desk25 {  display: inline;  fill: #60597b;}
.desk26 {  display: inline;  fill: #6e7894;}
.desk27 {  display: inline;  fill: #6a7591;}
.desk28 {  display: inline;  fill: #717b96;}
.desk29 {  display: inline;  fill: #dca179;}
.desk30 {  fill: #ffffff;}
.desk31 {  fill: #0d2540;}
.desk32 {  fill: #c77a5f;}
.desk33 {  fill: #2b3b62;}
.desk34 {  fill: #524a6f;}
.desk35 {  fill: #01142f;}
.desk36 {  fill: #1a2845;}
.desk37 {  fill: #737e97;}
.desk38 {  fill: #695f81;}
.desk39 {  fill: #805c6e;}
.desk40 {  fill: #765367;}
.desk41 {  fill: #706586;}
.desk42 {  fill: #795366;}
.desk43 {  fill: #c98066;}
.desk44 {  fill: #534b6f;}
.desk45 {  fill: #3c335d;}
.desk46 {  fill: #293960;}
.desk47 {  fill: #0d2640;}
.desk48 {  fill: #66718d;}
.desk49 {  fill: #0e2741;}
.desk50 {  fill: #cc9769;}
.desk51 {  fill: #9c614d;}
.desk52 {  fill: #d0bd91;}
.desk53 {  fill: #00132e;}
.desk-path:hover {  filter: drop-shadow(-30px 10px 4px #ff8311);}


.bed-path:hover{filter: drop-shadow(-30px 10px 4px #FF8311);}
.bed0{display:none;fill:#4D4D4D;}
.bed1{display:none;fill:#FFFFFF;stroke:#4D4D4D;stroke-width:2;stroke-miterlimit:10;}
.bed2{display:none;fill:#FFFFFF;stroke:#606060;stroke-width:3;stroke-miterlimit:10;}
.bed3{display:none;fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;}
.bed4{display:none;fill:#323232;stroke:#000000;stroke-miterlimit:10;}
.bed5{display:none;fill:#606060;}
.bed6{fill:#585074;}
.bed7{fill:#585073;}
.bed8{fill:#0C0F40;}
.bed9{fill:#686083;}
.bed10{fill:#665E81;}
.bed11{fill:#453D60;}
.bed12{fill:#675F82;}
.bed13{fill:#2B3B62;}
.bed14{fill:#504566;}
.bed15{fill:#674D6B;}
.bed16{fill:#B16A6B;}
.bed17{fill:#AC6262;}
.bed18{fill:#02142F;}
.bed19{fill:#896362;}
.bed20{fill:#B97475;}
.bed21{fill:#8F6B6D;}
.bed22{fill:#524A6F;}
.bed23{fill:#1B1B48;}
.bed24{fill:#3D4C70;}
.bed25{fill:#765766;}
.bed26{fill:#A8686C;}
.bed27{fill:#354368;}
.bed28{fill:#7A5869;}
.bed29{fill:#5C5477;}
.bed30{fill:#6D516D;}

        
.bed-lower0{display:none;fill:#4D4D4D;} 
.bed-lower1{display:none;fill:#FFFFFF;stroke:#4D4D4D;stroke-width:2;stroke-miterlimit:10;} 
.bed-lower2{display:none;fill:#FFFFFF;stroke:#606060;stroke-width:3;stroke-miterlimit:10;} 
.bed-lower3{display:none;fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;} 
.bed-lower4{display:none;fill:#323232;stroke:#000000;stroke-miterlimit:10;} 
.bed-lower5{display:none;fill:#606060;} 
.bed-lower6{display:none;} 
.bed-lower7{display:inline;fill:#2E2B3E;} 
.bed-lower8{display:inline;fill:#FDC59E;} 
.bed-lower9{display:inline;fill:#FDB37F;} 
.bed-lower10{display:inline;fill:#A36265;} 
.bed-lower11{display:inline;fill:#C16563;} 
.bed-lower12{display:inline;fill:#FDA668;} 
.bed-lower13{display:inline;fill:#FEAA6F;} 
.bed-lower14{display:inline;fill:#C36C6B;} 
.bed-lower15{display:inline;fill:#4A4857;} 
.bed-lower16{display:inline;fill:#B2585B;} 
.bed-lower17{display:inline;fill:#636270;} 
.bed-lower18{display:inline;fill:#736F94;} 
.bed-lower19{display:inline;fill:#FBDFDE;} 
.bed-lower20{display:inline;fill:#BFA7B4;} 
.bed-lower21{display:inline;fill:#BE9AA6;} 
.bed-lower22{display:inline;fill:#FDC59F;} 
.bed-lower23{display:inline;fill:#FCE0DF;} 
.bed-lower24{display:inline;fill:#3A394A;} 
.bed-lower25{display:inline;fill:#C26057;} 
.bed-lower26{display:inline;} 
.bed-lower27{fill:#FDB37F;} 
.bed-lower28{display:inline;fill:#F4F0F2;} 
.bed-lower29{display:inline;fill:#C2ABB7;} 
.bed-lower30{display:inline;fill:#FBDFDF;} 
.bed-lower31{display:inline;fill:#F9B7B8;} 
.bed-lower32{display:inline;fill:#E8E2E6;} 
.bed-lower33{display:inline;fill:#C6B1BC;} 
.bed-lower34{display:inline;fill:#DEC7C7;} 
.bed-lower35{display:none;fill:#8D726C;} 
.bed-lower36{clip-path:url(#SVGID_2_);} 
.bed-lower37{fill:#585074;} 
.bed-lower38{fill:#585073;} 
.bed-lower39{fill:#0C0F40;} 
.bed-lower40{fill:#686083;} 
.bed-lower41{fill:#665E81;} 
.bed-lower42{fill:#453D60;} 
.bed-lower43{fill:#675F82;} 
.bed-lower44{fill:#2B3B62;} 
.bed-lower45{fill:#504566;} 
.bed-lower46{fill:#674D6B;} 
.bed-lower47{fill:#B16A6B;} 
.bed-lower48{fill:#AC6262;} 
.bed-lower49{fill:#02142F;} 
.bed-lower50{fill:#896362;} 
.bed-lower51{fill:#B97475;} 
.bed-lower52{fill:#8F6B6D;} 
.bed-lower53{fill:#524A6F;} 
.bed-lower54{fill:#1B1B48;} 
.bed-lower55{fill:#3D4C70;} 
.bed-lower56{fill:#765766;} 
.bed-lower57{fill:#A8686C;} 
.bed-lower58{fill:#354368;} 
.bed-lower59{fill:#7A5869;} 
.bed-lower60{fill:#5C5477;} 
.bed-lower61{fill:#6D516D;} 
.bed-lower62{clip-path:url(#SVGID_2_);fill:#8D726C;} 
.bed-lower63{clip-path:url(#SVGID_2_);fill:#504566;}



.coffee0 {display: none;}
.coffee1 {display: inline;fill: #664d6b;}
.coffee2 {display: inline;fill: #2b3b62;}
.coffee3 {display: inline;fill: #212c4c;}
.coffee4 {display: inline;fill: #a5666a;}
.coffee5 {display: inline;fill: #674e6b;}
.coffee6 {display: inline;fill: #b36664;}
.coffee7 {display: inline;fill: #b36361;}
.coffee8 {display: inline;fill: #634e6c;}
.coffee9 {display: inline;fill: #705772;}
.coffee10 {display: inline;fill: #c97c89;}
.coffee11 {display: inline;fill: #3f4e70;}
.coffee12 {display: inline;fill: #071c3a;}
.coffee13 {display: inline;fill: #2c3c62;}
.coffee14 {display: inline;fill: #1c2b4c;}
.coffee15 {display: inline;fill: #cc7b5c;}
.coffee16 {display: inline;fill: #524350;}
.coffee17 {display: inline;fill: #22213d;}
.coffee18 {display: inline;fill: #554653;}
.coffee19 {display: inline;fill: #794f61;}
.coffee20 {display: inline;fill: #243657;}
.coffee21 {display: inline;fill: #3d3d5a;}
.coffee22 {display: inline;fill: #544c71;}
.coffee23 {display: inline;fill: #333658;}
.coffee24 {display: inline;fill: #6e4b60;}
.coffee25 {display: inline;fill: #60597b;}
.coffee26 {display: inline;fill: #6e7894;}
.coffee27 {display: inline;fill: #6a7591;}
.coffee28 {display: inline;fill: #717b96;}
.coffee29 {display: inline;fill: #dca179;}
.coffee30 {display: inline;fill: #ffffff;}
.coffee31 {display: inline;fill: #0d2540;}
.coffee32 {display: inline;fill: #c77a5f;}
.coffee33 {display: inline;fill: #524a6f;}
.coffee34 {display: inline;fill: #01142f;}
.coffee35 {display: inline;fill: #0f2341;}
.coffee36 {display: inline;fill: #1a2845;}
.coffee37 {display: inline;fill: #534b6f;}
.coffee38 {display: inline;fill: #737e97;}
.coffee39 {display: inline;fill: #061832;}
.coffee40 {display: inline;fill: #695f81;}
.coffee41 {display: inline;fill: #805c6e;}
.coffee42 {display: inline;fill: #00132e;}
.coffee43 {display: inline;fill: #765367;}
.coffee44 {display: inline;fill: #706586;}
.coffee45 {display: inline;fill: #795366;}
.coffee46 {display: inline;fill: #c98066;}
.coffee47 {display: inline;fill: #3c335d;}
.coffee48 {display: inline;fill: #293960;}
.coffee49 {display: inline;fill: #092040;}
.coffee50 {display: inline;fill: #0d2640;}
.coffee51 {display: inline;fill: #66718d;}
.coffee52 {display: inline;fill: #0e2741;}
.coffee53 {display: inline;fill: #192744;}
.coffee54 {display: inline;fill: #d0bd91;}
.coffee55 {display: inline;fill: #cc9769;}
.coffee56 {display: inline;fill: #9c614d;}
.coffee57 {fill: #51496e;}
.coffee58 {fill: #ad6262;}
.coffee59 {fill: #9f6065;}
.coffee60 {fill: #6b7691;}
.coffee61 {fill: #6f7994;}
.coffee62 {fill: #ab6364;}
.coffee63 {fill: #564b6d;}
.coffee64 {fill: #af6768;}
.coffee65 {fill: #795265;}
.coffee66 {fill: #a75c5e;}
.coffee67 {fill: #131e38;}
.coffee68 {fill: #7b566a;}
.coffee69 {fill: #717b96;}
.coffee70 {fill: #727c97;}
.coffee71 {fill: #d7dae1;}
.coffee72 {fill: #2f3d63;}
.coffee73 {fill: #05142f;}
.coffee74 {fill: #2b3b62;}
.coffee75 {fill: #404365;}
.coffee76 {fill: #634d6b;}
.coffee77 {fill: #324167;}
.coffee78 {fill: #eff0f3;}
.coffee79 {fill: #654c6a;}
.coffee80 {fill: #091530;}
.coffee81 {fill: #524a6f;}
.coffee-path:hover {
  filter: drop-shadow(-30px 10px 4px #ff8311);
}
